#platform=x86, AMD64, 或 Intel EM64T
#version=DEVEL
# Install OS instead of upgrade
install
# Keyboard layouts
keyboard 'us'
# Root password
rootpw --iscrypted $1$jnKwNDZu$VsBXP9FMOGDVQ6./lpJ851
# Use network installation
url --url="ftp://192.168.10.1/rhel6"
# System language
lang zh_CN
# Firewall configuration
firewall --disabled
# System authorization information
auth  --useshadow  --passalgo=sha512
# Use text mode install
text
firstboot --disable
# SELinux configuration
selinux --disabled

# Network information
network  --bootproto=dhcp --device=eth0
# Reboot after installation
reboot
# System timezone
timezone Asia/Shanghai
# System bootloader configuration
bootloader --location=mbr
# Clear the Master Boot Record
zerombr
# Partition clearing information
clearpart --all --initlabel
# Disk partitioning information
part / --fstype="ext4" --size=122880
part /var/lib/libvirt/images --fstype="ext4" --size=204800

%post --interpreter=/bin/bash
useradd Student
echo redhat | passwd --stdin Student
systemctl set-default graphical.target
mkdir /etc/yum.repos.d/repo
mv /etc/yum.repos.d/*.repo /etc/yum.repos.d/repo
cd /etc/yum.repos.d/
wget ftp://192.168.10.1/CentOS.repo
yum -y install tigervnc
yum -y install vsftpd
systemctl enable vsftpd
yum -y install httpd
systemctl restart httpd
systemctl enable httpd
systemctl enable nfs-server
wget ftp://192.168.10.1/NSD-2018-1-12.tar.gz
tar -xf NSD-2018-1-12.tar.gz -C /opt
cd /opt/NSD-2018-1-12
sh init.sh
wget ftp://192.168.10.1/desktop.tar.gz
tar xPf desktop.tar.gz
cd /bin/
wget ftp://192.168.10.1/uftp
wget ftp://192.168.10.1/uftpd
chmod 755 /bin/uftp*
mkdir /public
echo '/bin/uftpd -D /public' >> /etc/profile

%end

%packages
@^graphical-server-environment
@base
@core
@desktop-debugging
@dial-up
@fonts
@gnome-desktop
@guest-agents
@guest-desktop-agents
@hardware-monitoring
@input-methods
@internet-browser
@multimedia
@print-client
@x11
@virtualization-client
@virtualization-hypervisor
@virtualization-platform
@virtualization-tools
chrony
kexec-tools
%end

